MONGODB_URI=
JWT_SECRET=
ADMIN_ID=admin
ADMIN_PASSWORD=Sankalp@2026
EMAIL_USER=
EMAIL_PASS=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GEMINI_API_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
